@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .h1{
        @apply text-2xl font-bold text-slate-900 py-6
    }
    .custom-scrollbar::-webkit-scrollbar {
        width: 8px;
    }
      
    .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
      
    .custom-scrollbar::-webkit-scrollbar-track {
        background-color: transparent;
    }
    .input{
        @apply border-2 rounded w-full px-3.5 py-1 mt-2;
    }
    .label{
        @apply pb-2 text-sm font-semibold;
    }
}